.footer{
    background: var(--color-secondary-2);
    color: var(--color-grey-light-1);
    padding: 5rem;

    &__main{
        display: flex;
        justify-content: center;

        @include respond (Phone){
            flex-direction: column;
        }
    }
   
    &__address{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 5rem;

        @include respond (Phone){
            margin-bottom: 5rem;
            text-align: center;
        }
    }

    &__address-box{
        display: flex;
    }

    &__icon{
        width: 2.5rem;
        height: 2.5rem;
        fill: var(--color-primary);
        transition: 0.3s;

        &:hover{
            fill: var(--color-grey-light-1);
        }
    }

    &__md--info{
        display: flex;
        // flex-direction: column;

        @include respond (Phone){
            justify-content: center;
        }
    }

    &__twit{
        margin-right: 1rem;
    }

    &__mail{
        margin-right: 1rem;
    }
    &__md--main{
        display: flex;
        flex-direction: column;
       
    }

    &__social--icon{
        display: flex;
        margin: 5rem 0;
        justify-content: center;

        a{
            padding: 0 2rem;
        }
    }

    .mail{display: flex;}

    &__devloper{
        display: flex;
        justify-content: center;

        a{
            text-decoration: none;
            color: var(--color-grey-light-1);
            border-bottom: 1px solid var(--color-grey-light-1);
            transition: 0.2s;

            &:hover{
                color: var(--color-primary);
                border-bottom: 1px solid var(--color-primary);
            }
        }

        @include respond (Phone){
            align-items: center;
        }
    
    }

    &__dev--icon{
        height: 2.2rem;
        width: 2.2rem;
        fill:#ff3030;
        margin: 0 .8rem;
        animation: pulsate 1s infinite;
    }

    &__dev--text{
        font-size: 2rem;
    }


    &__legal{
        display: flex;
        justify-content: center;
        margin: 2rem 0;

        @include respond (Phone){
            text-align: center;
        }
    }
    &__legal--text{
        font-size: 1.8rem;
    }

}

@keyframes pulsate{
    0%{
     transform: scale(1);
    }
    50%{
     transform: scale(1.5);
    }
    100%{
      transform: scale(1);
    }
}