.features{
    padding: 8rem;
    border-bottom: 1px solid var(--color-grey-light-1);
    
    @include respond (Phone){
        padding: 5rem;
    }

    &__heading{
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

    &__heading--h2{

        @include respond (Phone){
            font-size: 6rem;
        }
    }


    &__icon{
        fill: var(--color-primary);
        width: 8.4rem;
        height: 8.4rem;
        transform: translateY(-1rem);
        justify-content: space-around;
        margin-right: 2rem;
    }

    &__box{
        display: flex;
        justify-content: center;

        @include respond (Phone){
            flex-direction: column;
            align-items: center;
        }
    }

    &__box-2{
        display: flex;
        justify-content: center;

        @include respond (Phone){
            flex-direction: column;
            align-items: center;
        }
    }
}

.feature{
    padding: 5rem;
    text-align: center;
    width: 40.7rem;
    justify-content: center;
    align-items: baseline;

    @include respond (Phone){
        width: 100%;
        padding: 2rem;
        margin: 5rem 0;
    }

    &__icon{
        fill: var(--color-primary);
        height: 4.5rem;
        width: 4.5rem;
    }

    &__text{
        font-size: 1.7rem;

        @include respond (Phone){
            font-size: 4rem;
        }
    }

    &__heading--h4{
        @include respond (Phone){
            font-size: 4.9rem;
        }
    }

}