.navbar{
  display: flex;
  justify-content: space-around;
  background: var(--color-secondary);
  opacity: 0.8;
  position: fixed;
  width: 100%;

  @include respond (Phone){
    position: sticky;
    justify-content: flex-start;
  }
  
  &__top{
    background: transparent;
  }

  &__link{
    text-decoration: none;
    color: var(--color-primary-dark);
  }

  &__logo{
    position: relative;

    @include respond (Phone){
      justify-content: flex-start;
      display: flex;
      margin: 2rem;
    }
  }

  &__logo--text{
    font-size: 4rem;
    font-weight: 400;

    @include respond (Phone){
      font-size: 7rem;
    }
  }

  &__logo--small-text{
    position: absolute;
    top: 7.5rem;
    left: 6rem;
    // font-weight: 500;

    @include respond (Phone){
      top: -7.5rem;
      left: 6rem;
      position: relative;
    }
  }
}

.navigation{
  @include respond (Phone){
    display: none;
  }
  &__list{
    display: flex;
    height: 100%;
    align-items: center;
    list-style: none;

  }

  &__item{
   padding: 2rem;
  }
  &__link{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    transition: 0.2s;
  }

  &__link:hover{
    color: var(--color-primary);
  }
}
