 .content-divider{
     height: 1rem;
     background:em;
     background: linear-gradient( to left, var(--color-primary-dark), var(--color-primary), var(--color-primary-dark) );

     @include respond (Phone){
         height: 1.5rem;
     }
 }

 .solution{
   background-color: #fff;  
   border-bottom: 1px solid var(--color-grey-light-1);
   

   &__box{
       display: flex;

       @include respond (Phone){
           flex-direction: column;
       }
   }

   &__img{
    //    height: 100%;
       width: 100%;
   }
   &__img--fit{
      width: 100%;
      height: 100%;
      display: block;
    
   }

   &__info{
       background: var(--color-primary);
       flex-basis: 1;
   }
   
   &__text{
       margin: 2rem 0;
       font-size: 1.7rem;

       @include respond (Phone){
           margin: 3rem 0;
           font-size: 2.5rem;
       }
   }

   &__text--info{
       display: flex;
       flex-direction: column;
       height: 100%;
       align-items: flex-start;
       justify-content: center;
       padding: 3rem;
       color: #fff;
   }

   &__h2--heading{
    //    word-spacing: .8rem;
       line-height: 1.5;
       width: 95%;

       @include respond (Phone){
           font-size: 4rem;
       }
   }
    
   &__h4--heading{
    font-size: 2rem;

    @include respond (Phone){
        font-size: 3.5rem;
    }
   }
   

   &__link{
       color: #fff;
   }
 }